* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Bubblegum Sans', cursive;
  background-color: whitesmoke;
}

#main-title {
  margin: 30px 0;
  font-size: 4em;
  text-align: center;
}

#root {
  margin: 0 auto;
  text-align: center;
}

#my-canvas {
  border: 2px solid dimgrey;
  background-color: white;
  width: 600px;
  height: 600px;
}
