* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: whitesmoke;
}

#root {
  text-align: center;
}

#my-canvas {
  float: left;
  margin: 125px 0 0;
  border: 2px solid #312c32;
  background-color: white;
}

.toolbar-module {
  border: 2px solid #312c32;
  position: relative;
  background-color: lightpink;
  float: left;
  width: 76px;
  height: 76px;
  margin: 10px 0 10px 15px;
}

.toolbar-module-sidebar {
  width: 86px;
  height: 66px;
  border: 2px solid #312c32;
  margin: 10px auto 0;
}

.toolbar-label {
  font-family: 'Bubblegum Sans', cursive;
  position: relative;
  height: 30px;
  width: 76px;
  float: left;
  margin: 0 0 0 15px;
  bottom: 40px;
  line-height: 30px;
  background-color: palegoldenrod;
  font-size: 1.25em;
}

.toolbar-label-sidebar {
  font-family: 'Bubblegum Sans', cursive;
  background-color: gainsboro;
  margin: 0 auto;
  width: 86px;
  height: 20px;
  border: 2px solid #312c32;
  border-top: none;
}

.color-module {
  border: 2px solid #312c32;
  float: left;
  height: 26px;
  width: 26px;
  margin: 7px 0 0 19px;
  background-color: lightblue;
}

.color-module-sidebar {
  border: 2px solid #312c32;
  float: left;
  height: 26px;
  width: 26px;
  margin: 14px 4px 5px;
  background-color: lightblue;
}

.size-tool {
  display: inline-block;
  font-size: 2em;
}

.size-button {
  width: 32px;
  display: block;
  height: 31px;
}

.size-button-container {
  float: right;
}

.line-width-module {
  width: 86px;
  height: 66px;
}

.size-counter-container {
  padding-left: 5px;
  height: 62px;
  width: 40px;
  text-align: center;
  float: left;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.hidden {
  display: none;
}

.chat-message {
  text-align: left;
  margin: 5px 0;
  word-wrap: break-word;
}

#message-form {
  height: 75%;
}

i.transparent {
  background: transparent;
}

i.transparent.inactive {
  color: #312c32;
}

i.transparent.active {
  color: #98dafc;
}

.download-active {
  color: #312c32;
}

.download-inactive {
  color: darkgrey;
}

.toggle-button {
  width: 100px;
  height: 100px;
  z-index: 10;
  font-size: 4.5em;
  float: left;
  margin: 25px 17px;
}

.disabled {
  pointer-events: none;
  cursor: default;
}
